.main-body{
    padding-left: 10rem;
    padding-right: 10rem;
}
.body{
    margin-bottom: 17rem;
}
.skill-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); 
    grid-gap: 5rem;
    margin-top: 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); 
    grid-gap: 5rem; 
  }
  @media (max-width: 768px) {
    .skill-box{
        width:100vh;
        margin-left: 20%;
        display:inline-table;
        gap:0.5rem;
        margin-bottom: 3rem;
        padding-left: 0rem;
    }
    h1{
        font-family: 'montserrat';
        font-size: '3rem';
         color: 'whitesmoke';
         text-wrap: wrap;
    }
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax( 90vh, 1fr)); 
        grid-gap: 1rem; 
      }
      .main-body{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .para{
     width: 250px;
    }
  }