

body{
  background-color: #222629;
}
.App {
  text-align: center;
  position: relative; /* Ensure the absolute positioning is relative to the App container */
}

.components-container {
  display: flex;

}

.about-container {
  width: 35%;
  position: fixed;
  top: 0; /* Stick to the top */
  bottom: 0; /* Stick to the bottom */
  
}

.introduction-container {
  position: relative;
  width: 70%;
  margin-left: 30%; 
  align-items: center;
  top :150px;
}



/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
  body{
    margin:0;
    padding:0;
    
  }
  .body, .para ,.body1,.para1{
    opacity: 1 !important;
    transform: none !important;
   margin-left: 0%;
   width:fit-content
  }
  
  .components-container{
    flex-direction: column;
  }
  .about-container {
    width: 100%;
    margin-left: 80%;
    position: relative;
  }
  
  .introduction-container {
    width: 100%;
    margin-left: 0px; /* Adjust for the width of the About container */
    top :10rem;
   padding-left: 0;
  }
  
  
  .main-body{
    padding-left:0;
    width: 40rem;
  }
  .horizontal-box{
    padding-left: 0%;
  }
  .contact-form-container{
    width:10rem;
    margin-left:0;
    padding-right: 15rem;
    padding-left: 15rem;
  }
  .project-grid {
    display: flex;
    justify-items: center;
    padding-right: 5rem;
    padding-left: 7rem;
  }
}

