

body{
  background-color: #222629;
  overflow-x: hidden;
}
.App {
  text-align:center;
  position: relative; /* Ensure the absolute positioning is relative to the App container */
}

.components-container {
  display: flex;

}

.about-container {
  width: 35%;
  position: fixed;
  top: 0; /* Stick to the top */
  bottom: 0; /* Stick to the bottom */
  
}

.introduction-container {
  position: relative;
  width: 70%;
  margin-left: 30%; 
  align-items: center;
  top :150px;
}


h1{
  font-family: montserrat;
  font-size: 3.7rem;
   color: whitesmoke;
}
/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
  .App {
    text-align: left;
    position: absolute; 
    overflow-x: hidden;
    width:100vw;
  }
 Body{
  overflow-x: hidden;
 }
 
 .components-container{
  flex:none;
  margin-left: 0; 
  overflow-x: hidden;
}
.about-container {
 
  display: none;
}
.introduction-container {
  position: relative;
  width: 100vw;
  margin-left: 0; 
  margin-right: 0; 
  align-items: normal;
  top : 5rem;
}
.body, .para ,.body1,.para1{
  opacity: 1 !important;
  transform: none !important;
  margin-left: 0;
}
 
}
 
  
  
  
  /* .about-container {
    width: 100%;
    margin-left: 80%;
    position: relative;
  } */
  
  
  
/*   
  .main-body{
    padding-left:0;
    width: 40rem;
  } */
  /* .horizontal-box{
    padding-left: 0%;
  } */
  /* .contact-form-container{
    width:10rem;
    margin-left:0;
    padding-right: 15rem;
    padding-left: 15rem;
  } */
  /* .project-grid {
    display: flex;
    justify-items: center;
    padding-right: 5rem;
    padding-left: 7rem;
  } */


